*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(120, 157, 188,0.3);
    border-radius: 16px;
    padding: 20px;
    width: 340px;
    height: 430px;
    position: absolute;
    z-index: 2;

}

.cerc{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #FFC7ED;
    border-radius: 50% ;
   
}

.background{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


