*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sign{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(187, 211, 231);
    border-radius: 16px;
    padding: 20px;
    max-width: 360px;
    max-height: 500px;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.circle{
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 198, 198);
    border-radius: 50% ;
    z-index: -1;
}

.circle1{top: 10vh; left: 10vw;}
.circle2{top: 50vh; left:50vw;}
.circle3{top: 1vh;left: 80vw;}
.circle4{top: 80vh; left: 1vw;}

.square{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: rgb(158, 223, 156, 0.7);
}

.square1{top: 30vh;left: 30vw;}
.square2{top: 13vh;left: 5vw;}
.square3{top:70vh;left: 78vw;}
.square4{top:8vh;left: 90vw;}

.triangle1{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid rgb(255, 235, 85, 0.6);
    z-index:-1;
    position:fixed;
    top: 70%;
    left: 15%;
}

.triangle2{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid rgb(255, 235, 85, 0.6);
    top: 50%;
    z-index: -1;
    position: fixed;
}

.triangle3{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid rgb(255, 235, 85, 0.6);
    z-index:-1;
    position:fixed;
    top: 23%;
    left: 65%;
}

.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:rgb(245, 239, 255);
    z-index: -3;
}

.title{
    padding: 20px;
    font-size: 45px;
    color:rgb(48, 68, 99);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input{
    padding: 12px;
    margin: 4px;
    width: 100%;
    border: none;
    border-bottom: 2px solid  rgb(125, 138, 188);
    background-color: rgb(120, 157, 188,0.1);
    font-size: 16px;
    transition: border-color 0.3s ease;
    border-radius: 8px;
}

.input2{
    padding: 12px;
    margin: 4px;
    width: 90%;
    border: none;
    border-bottom: 2px solid  rgb(125, 138, 188);
    background-color: rgb(120, 157, 188,0.1);
    font-size: 16px;
    transition: border-color 0.3s ease;
    border-radius: 8px;
}

.input::placeholder{
    color: rgb(120, 157, 188) ;
}

.input:focus{
    outline: none;
}

.input2::placeholder{
    color: rgb(120, 157, 188) ;
}

.input2:focus{
    outline: none;
}

.button{
    padding: 13px;
    margin: 14px;
    font-size: 18px;
    border-radius: 16px;
    border: none;
    font-weight: 600;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.5);
    cursor: pointer;
    color:  rgb(120, 157, 188);
    transition: background-color 0.3px, transform 0.2s;
}

.already{
    color:#304463 ;
    font-weight: 500;
    font-size: 20px;
}

.Link{
    color: #304463;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.Link:hover{
    text-decoration: underline;
}

.button:hover{
 background-color:rgb(48, 68, 99) ;
}

#status{
    color: rgb(120, 157, 188);
    font-weight: 600;
    background-color:rgb(223, 231, 236, 0.5);
    font-size: 17px;
    padding: 4px;
    margin: 5px;
    border: none;
    border-radius: 12px;
}

#status:focus{
 outline: none;   
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
   
}

.password-field {
    padding-right:40px;
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d; 
}