*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sign{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(187, 211, 231);
    border-radius: 16px;
    padding: 20px;
    max-width: 360px;
    max-height: 500px;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.circle{
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: #FFC7ED;
    border-radius: 50% ;
    z-index: -1;
}

.circle1{top: 10vh; left: 10vw;}
.circle2{top: 50vh; left:50vw;}
.circle3{top: 1vh;left: 80vw;}
.circle4{top: 80vh; left: 1vw;}

.square{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: rgb(222, 255, 231);
}

.square1{top: 30vh;left: 30vw;}
.square2{top: 2vh;left: 1vw;}
.square3{top:80vh;left: 80vw;}

.triangle1{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid rgb(255, 243, 193);
    z-index:-1;
    position:fixed;
    top: 60%;
    left: 15%;
}

.triangle2{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid rgb(255, 243, 193);
    top: 50%;
    z-index: -1;
    position: fixed;
}
.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.title{
    padding: 20px;
    font-size: 45px;
    color:rgb(48, 68, 99);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input{
    padding: 10px;
    margin: 5px;
    width: 90%;
    border: none;
    border-bottom: 2px solid  rgb(125, 138, 188);
    background-color: rgb(120, 157, 188,0.1);
}

.input::placeholder{
    color: rgb(120, 157, 188) ;
}

.input:focus{
    outline: none;
}

.button{
    padding: 13px;
    margin: 20px;
    font-size: 18px;
    border-radius: 16px;
    border: none;
    font-weight: 600;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.5);
    cursor: pointer;
    color:  rgb(120, 157, 188);
    transition: background-color 0.3px, transform 0.2s;
}

.already{
    color:#304463 ;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
}

.Link{
    color: #304463;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
}

.Link:hover{
    text-decoration: underline;
}

.button:hover{
 background-color:rgb(48, 68, 99) ;
}

#status{
    color: rgb(120, 157, 188);
    font-weight: 600;
    background-color:rgb(223, 231, 236);
    font-size: 17px;
    padding: 4px;
    margin: 5px;
    border: none;
}

#status:focus{
 outline: none;   
}