*{
    box-sizing: border box;
    margin: 0;
    padding: 0;
}
.hidden { 
    display: none !important; 
}
.visible { 
    display: block; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9B7EBD;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #FEF9F2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}

.container {
    padding: 20px;
    background-color: #FEF9F2;
}
   

.absolutebut {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
    font-size: 24px; /* Adjust size as desired */
}

.title h1 {
    font-size: 28px; /* Slightly smaller font size for the main title */
    text-align: center;
    margin-bottom: 10px;
    color: #5D4B8C; /* A softer color for the title */

}


.title h2 {
    font-size: 22px; /* Slightly smaller subheading */
    margin-top: 20px;
    color: #5D4B8C; /* Matching color with the main title */
}

.custom-list {
    list-style: none;
    counter-reset: list-counter;
    padding-left: 0;    
    font-weight: 300;
    font-size: 16px; /* Adjusted font size for readability */
    width: 80%; /* Adjusted width to fit the container */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 10px;
}

.custom-list li {

    position: relative;
    padding-left: 45px;
    margin-bottom: 20px;
    font-size: 16px; /* Smaller font size for better readability */
    font-family: 'Arial', sans-serif;
}

/* Custom numbering for each list item */
.custom-list li::before {
    content: counter(list-counter);
    counter-increment: list-counter;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 2px solid #3B1E54;
    border-radius: 50%;
    color: #9B7EBD;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}


.menu{
   
    display: flex;
    flex-direction: column; /* Stack links vertically for mobile */
    align-items: center;
    gap: 15px; /* Add space between items */

}

.menuContainer{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: #FEF9F2;
border-radius: 16px;
padding: 10px;
max-width: 400px;
max-height: 500px;
position: relative;
z-index: 2;
box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
overflow: hidden;

}

.linkMenu {
font-size: 20px;
font-weight: bold;
color: #3C3D37;
text-decoration: none;
padding: 10px 20px;
border-radius: 8px;
background-color: #FEF9F2; /* Corrected syntax */
transition: all 0.3s ease;
}

.linkMenu:hover {

color: #3C3D37;
text-decoration: none;
background-color: #F7F7F8;
transform: scale(1.05);
}



.circle {
    position: absolute;
    border-radius: 50%;
    background-color: #D4BEE4;
    z-index: -2;

}

.circle-left {
    width: 150px;
    height: 150px;
    top: 15%;
    left: 25%;
    opacity: 0.6;
}

.circle-right {
    width: 100px;
    height: 100px;
    bottom: 70%;
    right: 10%;
    opacity: 0.6;
}

.circle-right2 {
    width: 75px;
    height: 75px;
    bottom: -50px;
    right: 150px;
    opacity: 0.8;
}
